@font-face {
    font-family: 'volunmo';
    src: url('./fonts/volunmo-x3wkr-webfont');
    src: local('volunmo'), local('volunmo-x3wkr-webfont'),
         url('./fonts/volunmo-x3wkr-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/volunmo-x3wkr-webfont.woff') format('woff'),
         url('./fonts/volunmo-x3wkr-webfont.woff2') format('woff2'),
         url('./fonts/volunmo-x3wkr-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;


}
