@font-face {
    font-family: 'roseau_slab';
    src: url('./fonts/');
    src: url('./fonts/roseauslab-free-webfont.eot');
    src: local('roseau_slab'), local('roseauslab-free-webfont'),
         url('./fonts/roseauslab-free-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/roseauslab-free-webfont.woff') format('woff'),
         url('./fonts/roseauslab-free-webfont.woff2') format('woff2'),
         url('./fonts/roseauslab-free-webfont.ttf') format('truetype');
    font-weight: thin;
    font-style: normal;
}

